.toc.sidebar .toc-menu {
    padding-left: 100px !important;
    width: 600px !important;
}

.doc {
    min-width: 900px;
}

.toolbar .edit-this-page a {
    color: white !important;
}

.edit-this-page {
    background-color: #050b48;
    border-radius: 0.5rem;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block !important;
}

.navbar .button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 0.5rem;
    height: auto;
    font-size: 18px;
    color: #222;
    padding: 1em;
    margin: 0.8em;
    white-space: nowrap;
}