<footer class="footer" style="text-align: center;">
   <a href="https://github.com/redhat-appstudio/docs.stonesoup.io">Source on GitHub</a>
   | <a href="https://rhdevnation.slack.com/archives/C04LXT1EU7K">Join our Slack!</a>
   | <a href="mailto:sscs@redhat.com">Email us</a>
</footer>
