<footer class="footer" style="text-align: center;">
    <a href="https://gitlab.cee.redhat.com/red-hat-stone-soup/stonesoup-documentation/-/blob/main/modules/ROOT/pages">Source documents on GitLab</a>
    | <a href="https://docs.engineering.redhat.com/pages/viewpage.action?pageId=256849149">Engage with us!</a>
    | <a href="link:https://groups.google.com/g/stonesoup">Contact us on Google Chat</a>
</footer>
